server:
  port: 8080


spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        format_sql: true
        show_sql: true

  datasource:
    url: jdbc:h2:tcp://localhost/D:\H2\db\websocket
    driver-class-name: org.h2.Driver
    username: sa
    password:



logging:
  level:
    org:
      hibernate:
        sql: debug
        type: trace
